In [ ]:
import pandas as pd
import os
import glob

# joining the path and creating list of paths to read all csv files in data2 folder
dataframes = []

for files in glob.glob(r'C:\Users\nebar\Desktop\project\data2\upc12\*.xlsx'):

    print(files)

    data = pd.read_excel(files)

    dataframes.append(data)

data12_df = pd.concat(dataframes, ignore_index=True)

data12_df

In [154]:
#import the customer detail cleaned data for upc 12
final2_1 = pd.read_excel(r'C:\Users\nebar\Desktop\project\data2\final2_1.xlsx')

final2_1

,CONSUMERPACKAGECODE,ORG_ID,First_Subscription_Date,Doc_Flow_Total_Monthly_Average,Industry_SPS,AnnualRevenue,Industry_Segment,Industry_Vertical,Total_Retailer_Connections
0,628133161247,59071015491788870007979431326188824938,6/20/2012,0.0,Retail,1.031220e+05,Fashion,Fashion,0
1,628133161094,59071015491788870007979431326188824938,6/20/2012,0.0,Retail,1.031220e+05,Fashion,Fashion,0
2,628133160967,59071015491788870007979431326188824938,6/20/2012,0.0,Retail,1.031220e+05,Fashion,Fashion,0
3,628133161087,59071015491788870007979431326188824938,6/20/2012,0.0,Retail,1.031220e+05,Fashion,Fashion,0
4,628133160974,59071015491788870007979431326188824938,6/20/2012,0.0,Retail,1.031220e+05,Fashion,Fashion,0
...,...,...,...,...,...,...,...,...,...
195636,073731081082,143630244185674637405719298279070552025,1/4/2017,0.0,Agriculture,2.086812e+09,Agriculture,Other,1
195637,085239174777,143630244185674637405719298279070552025,1/4/2017,0.0,Agriculture,2.086812e+09,Agriculture,Other,1
195638,850051055395,135196998329222892794444016567164244364,7/15/2021,54.3,Wholesale/Distribution,7.021697e+06,Fashion WSD,Fashion,1
195639,850051055425,135196998329222892794444016567164244364,7/15/2021,54.3,Wholesale/Distribution,7.021697e+06,Fashion WSD,Fashion,1
195640,850051055456,135196998329222892794444016567164244364,7/15/2021,54.3,Wholesale/Distribution,7.021697e+06,Fashion WSD,Fashion,1

In [155]:
#to avoid confusion while creating total connection, rename Newegg Business, amazon and walmart marekt places as Newegg.com, amazon and walmart
data12_df['Merchant'] = data12_df['Merchant'].str.replace('Amazon Marketplace New|Amazon Marketplace Used', 'Amazon.com', regex=True)

data12_df['Merchant']  = data12_df['Merchant'].str.replace('Walmart Marketplace|Wal-Mart.com', 'Walmart', regex = True)
                     
data12_df['Merchant']  = data12_df['Merchant'].str.replace('Newegg Business', 'Newegg.com', regex = True)
                   
data12_df['Merchant'] = data12_df['Merchant'].str.replace('1-800Lighting', '1800lighting.com', regex = True)              

data12_df['Merchant']  = data12_df['Merchant'].str.replace('Younkers(Bon-Ton)', 'Bon-Ton',regex = True)
                       
data12_df

,EAN,Title,Merchant,last_updated
0,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Boscov's,2021-08-26 09:05:44
1,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Kohl's,2022-05-13 04:07:00
2,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Macy's,2022-01-04 04:49:22
3,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Finish Line,2021-06-27 23:17:25
4,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Walmart,2022-03-03 11:29:38
...,...,...,...,...
34701,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Macy's,2018-06-20 20:34:17
34702,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Walmart,2022-11-28 21:09:30
34703,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Walmart,2018-09-03 02:36:44
34704,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Jet.com,2019-06-23 16:18:41
34705,793661521952,Black Diamond Men's Notion 11 Inch Short - XL ...,Moosejaw,2022-08-28 04:31:57

In [ ]:
#check for duplicates using multiple variables
data12_df = pd.DataFrame(data12_df, columns=["EAN", "Title", "Merchant","last_updated"])

duplicate = data12_df[data12_df.duplicated()]

print("Duplicate Rows :")

print(duplicate)

In [157]:
#drop the duplicates 
data12_df.drop_duplicates()

,EAN,Title,Merchant,last_updated
0,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Boscov's,2021-08-26 09:05:44
1,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Kohl's,2022-05-13 04:07:00
2,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Macy's,2022-01-04 04:49:22
3,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Finish Line,2021-06-27 23:17:25
4,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Walmart,2022-03-03 11:29:38
...,...,...,...,...
34701,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Macy's,2018-06-20 20:34:17
34702,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Walmart,2022-11-28 21:09:30
34703,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Walmart,2018-09-03 02:36:44
34704,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Jet.com,2019-06-23 16:18:41
34705,793661521952,Black Diamond Men's Notion 11 Inch Short - XL ...,Moosejaw,2022-08-28 04:31:57

In [158]:
#take out the records with null value for the merchant variable
missing_values = pd.notnull(data12_df["Merchant"])

data12_filtered  = data12_df[missing_values]

data12_filtered

,EAN,Title,Merchant,last_updated
0,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Boscov's,2021-08-26 09:05:44
1,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Kohl's,2022-05-13 04:07:00
2,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Macy's,2022-01-04 04:49:22
3,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Finish Line,2021-06-27 23:17:25
4,191665196037,Skechers Men's Creston Moseco Slip-On Casual S...,Walmart,2022-03-03 11:29:38
...,...,...,...,...
34701,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Macy's,2018-06-20 20:34:17
34702,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Walmart,2022-11-28 21:09:30
34703,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Walmart,2018-09-03 02:36:44
34704,793661356868,Black Diamond Women s StormLine Stretch Full Z...,Jet.com,2019-06-23 16:18:41
34705,793661521952,Black Diamond Men's Notion 11 Inch Short - XL ...,Moosejaw,2022-08-28 04:31:57

In [ ]:
# Taking out the time part
data12_filtered['last_updated'] = data12_filtered['last_updated'].apply(lambda x: ', '.join(set([part[:10] for part in x.split(', ')])))

data12_filtered

In [160]:
#to put similar ean and title together to avoid redundancy while creating the total connections
data12_output = data12_filtered.groupby(['EAN','Title']).agg(pd.Series.tolist)

data12_scraped = data12_output.reset_index()

data12_scraped = pd.DataFrame(data12_scraped)

data12_scraped

,EAN,Title,Merchant,last_updated
0,906995073,Timberland 6 Inch Premium Waterproof Boot in B...,"[Moosejaw, Journeys, Newegg.com, Hudson's Bay,...","[2020-08-10, 2024-04-17, 2022-03-30, 2018-04-0..."
1,10043164003,Nature s Life Coconut MCT Powder - 14 oz - Ene...,"[Newegg.com, Rakuten(Buy.com), HerbsPro, Walma...","[2016-11-08, 2020-01-11, 2023-05-11, 2024-01-0..."
2,10043377939,Nature s Life Black Seed Oil 1000 mg | Immune ...,"[Rakuten(Buy.com), HerbsPro, Walmart, Walmart,...","[2020-01-10, 2023-05-11, 2023-05-05, 2018-11-2..."
3,12611066405,American Standard Actuator Assembly American S...,"[Build.com, Newegg.com, UnbeatableSale.com, Ho...","[2018-05-31, 2016-11-15, 2020-06-29, 2024-10-2..."
4,12611086779,American Standard 738254-0020A Handle Packs ...,"[Build.com, Newegg.com, UnbeatableSale.com, Do...","[2018-05-31, 2018-11-08, 2020-06-29, 2015-07-0..."
...,...,...,...,...
7854,889110846582,SKECHERS - Empire (White Silver) Women's Shoes,"[6pm, Rakuten(Buy.com), JCPenney, Amazon.com, ...","[2017-07-20, 2017-03-02, 2017-08-14, 2016-05-2..."
7855,889110846599,Skechers Women's Sport Empire - Rock Around Re...,"[6pm, Rakuten(Buy.com), JCPenney, Famous Footw...","[2017-06-09, 2017-03-09, 2017-08-21, 2017-11-15]"
7856,889440564248,Men's Dickies FLEX Regular-Fit Straight-Leg Ca...,"[Kohl's, UnbeatableSale.com]","[2024-09-23, 2024-07-11]"
7857,889440909896,ZOCAVIA Women s Funny Sweatshirts Hoodies Blac...,[Walmart],[2024-03-05]
7858,889440909995,ZOCAVIA Women s Funny Sweatshirts Hoodies Blac...,[Walmart],[2024-03-05]

In [161]:
#count the total connection for each unique id
data12_scraped ['Total_connections'] = data12_scraped['Merchant'].apply(lambda x: len(set(x)))

data12_scraped

,EAN,Title,Merchant,last_updated,Total_connections
0,906995073,Timberland 6 Inch Premium Waterproof Boot in B...,"[Moosejaw, Journeys, Newegg.com, Hudson's Bay,...","[2020-08-10, 2024-04-17, 2022-03-30, 2018-04-0...",22
1,10043164003,Nature s Life Coconut MCT Powder - 14 oz - Ene...,"[Newegg.com, Rakuten(Buy.com), HerbsPro, Walma...","[2016-11-08, 2020-01-11, 2023-05-11, 2024-01-0...",5
2,10043377939,Nature s Life Black Seed Oil 1000 mg | Immune ...,"[Rakuten(Buy.com), HerbsPro, Walmart, Walmart,...","[2020-01-10, 2023-05-11, 2023-05-05, 2018-11-2...",3
3,12611066405,American Standard Actuator Assembly American S...,"[Build.com, Newegg.com, UnbeatableSale.com, Ho...","[2018-05-31, 2016-11-15, 2020-06-29, 2024-10-2...",8
4,12611086779,American Standard 738254-0020A Handle Packs ...,"[Build.com, Newegg.com, UnbeatableSale.com, Do...","[2018-05-31, 2018-11-08, 2020-06-29, 2015-07-0...",12
...,...,...,...,...,...
7854,889110846582,SKECHERS - Empire (White Silver) Women's Shoes,"[6pm, Rakuten(Buy.com), JCPenney, Amazon.com, ...","[2017-07-20, 2017-03-02, 2017-08-14, 2016-05-2...",5
7855,889110846599,Skechers Women's Sport Empire - Rock Around Re...,"[6pm, Rakuten(Buy.com), JCPenney, Famous Footw...","[2017-06-09, 2017-03-09, 2017-08-21, 2017-11-15]",4
7856,889440564248,Men's Dickies FLEX Regular-Fit Straight-Leg Ca...,"[Kohl's, UnbeatableSale.com]","[2024-09-23, 2024-07-11]",2
7857,889440909896,ZOCAVIA Women s Funny Sweatshirts Hoodies Blac...,[Walmart],[2024-03-05],1
7858,889440909995,ZOCAVIA Women s Funny Sweatshirts Hoodies Blac...,[Walmart],[2024-03-05],1

In [ ]:
#to make ean as string
data12_scraped['EAN'] = data12_scraped['EAN'].astype(str)

data12_scraped.dtypes

In [ ]:
#check the customer details datatypes
final2_1.dtypes

In [164]:
#merge the final cleaned data and datascraped
data12_scraped_output = pd.merge(data12_scraped, final2_1 , left_on = "EAN",right_on = "CONSUMERPACKAGECODE")

data12_scraped_output

,EAN,Title,Merchant,last_updated,Total_connections,CONSUMERPACKAGECODE,ORG_ID,First_Subscription_Date,Doc_Flow_Total_Monthly_Average,Industry_SPS,AnnualRevenue,Industry_Segment,Industry_Vertical,Total_Retailer_Connections
0,159760670562,Grohe 95 866 Hand Shower Holders Shower Access...,"[Walmart, Walmart]","[2015-11-26, 2015-05-16]",1,159760670562,310150179242887827348988175441707013406,2/3/2006,33.4,Manufacturing,1.000000e+09,Manufacturing,Manufacturing,2
1,190178347837,Columbia Men s PFG Tamiami II Shirt,"[Moosejaw, Kohl's, Macy's, Walmart, Columbia S...","[2021-08-30, 2022-06-06, 2021-12-17, 2022-08-1...",8,190178347837,76567598913324491384822900159123205344,8/31/2001,78.5,Wholesale/Distribution,3.999064e+08,Fashion WSD,Fashion,30
2,190178485645,Columbia Newton Ridge&trade; Amped Waterproof ...,"[Moosejaw, Kohl's, Bass Pro Shops, NORDSTROM.c...","[2022-05-02, 2024-06-12, 2019-01-23, 2022-07-0...",14,190178485645,76567598913324491384822900159123205344,8/31/2001,78.5,Wholesale/Distribution,3.999064e+08,Fashion WSD,Fashion,30
3,190178499529,Columbia Men's Bahama Vent Pfg Sneakers Men's ...,"[Moosejaw, West Marine, Newegg.com, Unbeatable...","[2022-08-29, 2018-04-16, 2021-07-04, 2024-10-2...",13,190178499529,76567598913324491384822900159123205344,8/31/2001,78.5,Wholesale/Distribution,3.999064e+08,Fashion WSD,Fashion,30
4,190178499536,Columbia Men's Bahama Vent Pfg Sneakers Men's ...,"[Moosejaw, West Marine, Newegg.com, Unbeatable...","[2022-08-29, 2018-04-16, 2021-07-04, 2024-10-2...",13,190178499536,76567598913324491384822900159123205344,8/31/2001,78.5,Wholesale/Distribution,3.999064e+08,Fashion WSD,Fashion,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6770,889110846582,SKECHERS - Empire (White Silver) Women's Shoes,"[6pm, Rakuten(Buy.com), JCPenney, Amazon.com, ...","[2017-07-20, 2017-03-02, 2017-08-14, 2016-05-2...",5,889110846582,25766656350732510599444502580706753369,8/13/2001,564.4,Consumer Products,3.147000e+09,Fashion,Fashion,42
6771,889110846599,Skechers Women's Sport Empire - Rock Around Re...,"[6pm, Rakuten(Buy.com), JCPenney, Famous Footw...","[2017-06-09, 2017-03-09, 2017-08-21, 2017-11-15]",4,889110846599,25766656350732510599444502580706753369,8/13/2001,564.4,Consumer Products,3.147000e+09,Fashion,Fashion,42
6772,889440564248,Men's Dickies FLEX Regular-Fit Straight-Leg Ca...,"[Kohl's, UnbeatableSale.com]","[2024-09-23, 2024-07-11]",2,889440564248,93590294941207159358429100560719878631,8/15/2011,3.9,Wholesale/Distribution,2.371930e+08,Other Durable WSD,Fashion,19
6773,889440909896,ZOCAVIA Women s Funny Sweatshirts Hoodies Blac...,[Walmart],[2024-03-05],1,889440909896,93590294941207159358429100560719878631,8/15/2011,3.9,Wholesale/Distribution,2.371930e+08,Other Durable WSD,Fashion,19
6774,889440909995,ZOCAVIA Women s Funny Sweatshirts Hoodies Blac...,[Walmart],[2024-03-05],1,889440909995,93590294941207159358429100560719878631,8/15/2011,3.9,Wholesale/Distribution,2.371930e+08,Other Durable WSD,Fashion,19

In [165]:
#Arrange the total_connections and total_retailer_connections column 
data12_scraped_new = data12_scraped_output.iloc[0:6775,[0,1,2,3,5,6,7,8,9,10,11,12,13,4]]

data12_scraped_new['Missed_connections'] =  data12_scraped_new['Total_connections']- data12_scraped_new['Total_Retailer_Connections'] 

data12_scraped_new

,EAN,Title,Merchant,last_updated,CONSUMERPACKAGECODE,ORG_ID,First_Subscription_Date,Doc_Flow_Total_Monthly_Average,Industry_SPS,AnnualRevenue,Industry_Segment,Industry_Vertical,Total_Retailer_Connections,Total_connections,Missed_connections
0,159760670562,Grohe 95 866 Hand Shower Holders Shower Access...,"[Walmart, Walmart]","[2015-11-26, 2015-05-16]",159760670562,310150179242887827348988175441707013406,2/3/2006,33.4,Manufacturing,1.000000e+09,Manufacturing,Manufacturing,2,1,-1
1,190178347837,Columbia Men s PFG Tamiami II Shirt,"[Moosejaw, Kohl's, Macy's, Walmart, Columbia S...","[2021-08-30, 2022-06-06, 2021-12-17, 2022-08-1...",190178347837,76567598913324491384822900159123205344,8/31/2001,78.5,Wholesale/Distribution,3.999064e+08,Fashion WSD,Fashion,30,8,-22
2,190178485645,Columbia Newton Ridge&trade; Amped Waterproof ...,"[Moosejaw, Kohl's, Bass Pro Shops, NORDSTROM.c...","[2022-05-02, 2024-06-12, 2019-01-23, 2022-07-0...",190178485645,76567598913324491384822900159123205344,8/31/2001,78.5,Wholesale/Distribution,3.999064e+08,Fashion WSD,Fashion,30,14,-16
3,190178499529,Columbia Men's Bahama Vent Pfg Sneakers Men's ...,"[Moosejaw, West Marine, Newegg.com, Unbeatable...","[2022-08-29, 2018-04-16, 2021-07-04, 2024-10-2...",190178499529,76567598913324491384822900159123205344,8/31/2001,78.5,Wholesale/Distribution,3.999064e+08,Fashion WSD,Fashion,30,13,-17
4,190178499536,Columbia Men's Bahama Vent Pfg Sneakers Men's ...,"[Moosejaw, West Marine, Newegg.com, Unbeatable...","[2022-08-29, 2018-04-16, 2021-07-04, 2024-10-2...",190178499536,76567598913324491384822900159123205344,8/31/2001,78.5,Wholesale/Distribution,3.999064e+08,Fashion WSD,Fashion,30,13,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6770,889110846582,SKECHERS - Empire (White Silver) Women's Shoes,"[6pm, Rakuten(Buy.com), JCPenney, Amazon.com, ...","[2017-07-20, 2017-03-02, 2017-08-14, 2016-05-2...",889110846582,25766656350732510599444502580706753369,8/13/2001,564.4,Consumer Products,3.147000e+09,Fashion,Fashion,42,5,-37
6771,889110846599,Skechers Women's Sport Empire - Rock Around Re...,"[6pm, Rakuten(Buy.com), JCPenney, Famous Footw...","[2017-06-09, 2017-03-09, 2017-08-21, 2017-11-15]",889110846599,25766656350732510599444502580706753369,8/13/2001,564.4,Consumer Products,3.147000e+09,Fashion,Fashion,42,4,-38
6772,889440564248,Men's Dickies FLEX Regular-Fit Straight-Leg Ca...,"[Kohl's, UnbeatableSale.com]","[2024-09-23, 2024-07-11]",889440564248,93590294941207159358429100560719878631,8/15/2011,3.9,Wholesale/Distribution,2.371930e+08,Other Durable WSD,Fashion,19,2,-17
6773,889440909896,ZOCAVIA Women s Funny Sweatshirts Hoodies Blac...,[Walmart],[2024-03-05],889440909896,93590294941207159358429100560719878631,8/15/2011,3.9,Wholesale/Distribution,2.371930e+08,Other Durable WSD,Fashion,19,1,-18
6774,889440909995,ZOCAVIA Women s Funny Sweatshirts Hoodies Blac...,[Walmart],[2024-03-05],889440909995,93590294941207159358429100560719878631,8/15/2011,3.9,Wholesale/Distribution,2.371930e+08,Other Durable WSD,Fashion,19,1,-18

In [166]:
#keep the records with missed connections greater than 0
data12_scraped_new = data12_scraped_new[data12_scraped_new.Missed_connections > 0]
 
data12_scraped_new

,EAN,Title,Merchant,last_updated,CONSUMERPACKAGECODE,ORG_ID,First_Subscription_Date,Doc_Flow_Total_Monthly_Average,Industry_SPS,AnnualRevenue,Industry_Segment,Industry_Vertical,Total_Retailer_Connections,Total_connections,Missed_connections
359,192660000268,"Columbia Women's Heavenly Long Vest, Black, La...","[Moosejaw, Columbia Sportswear, Zappos.com]","[2021-11-23, 2024-03-01, 2023-12-03]",192660000268,30230658026331845897998562572329290179,12/14/2017,0.0,Wholesale/Distribution,7.250710e+05,Fashion WSD,Fashion,2,3,1
456,193406017304,American Standard Pekoe 29-in x 18-in ADA Doub...,"[UnbeatableSale.com, Homedepot Canada, Home De...","[2024-01-16, 2023-06-10, 2022-05-02, 2024-10-0...",193406017304,310150179242887827348988175441707013406,2/3/2006,33.4,Manufacturing,1.000000e+09,Manufacturing,Manufacturing,2,5,3
457,193406029512,American Standard Studio 60 x 30-Inch Integral...,"[UnbeatableSale.com, Home Depot, Walmart, Lowe...","[2021-02-25, 2024-10-25, 2024-04-08, 2023-08-2...",193406029512,310150179242887827348988175441707013406,2/3/2006,33.4,Manufacturing,1.000000e+09,Manufacturing,Manufacturing,2,5,3
534,193693169366,Women's Agolde Sophie Mid Rise Crop Skinny Jea...,[NORDSTROM.com],[2021-08-04],193693169366,20146744053450529082243683568953292250,6/29/2017,0.0,Consumer Products,4.094285e+07,Fashion,Fashion,0,1,1
535,193693169403,"AGOLDE Sophie Mid Rise Crop Skinny Jeans, Size...",[NORDSTROM.com],[2021-10-15],193693169403,20146744053450529082243683568953292250,6/29/2017,0.0,Consumer Products,4.094285e+07,Fashion,Fashion,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6432,887253299739,Columbia Women's Omni-Tech Arcadia Ii Rain Jacket,"[The House, Moosejaw, Kohl's, Outdoorplay, Unb...","[2019-05-30, 2022-08-29, 2024-08-13, 2015-07-0...",887253299739,30230658026331845897998562572329290179,12/14/2017,0.0,Wholesale/Distribution,7.250710e+05,Fashion WSD,Fashion,2,30,28
6434,887253299760,Columbia Arcadia II Jacket,"[Moosejaw, Kohl's, Outdoorplay, Newegg.com, Un...","[2022-08-29, 2024-08-17, 2015-07-08, 2016-11-1...",887253299760,30230658026331845897998562572329290179,12/14/2017,0.0,Wholesale/Distribution,7.250710e+05,Fashion WSD,Fashion,2,29,27
6438,887253303054,Columbia Men's Big & Tall Watertight Ii Packab...,"[Moosejaw, Kohl's, UnbeatableSale.com, Bass Pr...","[2021-10-30, 2022-11-25, 2024-10-24, 2019-01-2...",887253303054,30230658026331845897998562572329290179,12/14/2017,0.0,Wholesale/Distribution,7.250710e+05,Fashion WSD,Fashion,2,15,13
6596,888641131488,Zignature Salmon Formula Dry Dog Food 4 Lb,"[UnbeatableSale.com, Rakuten(Buy.com), PetCare...","[2017-10-18, 2018-05-19, 2023-05-06, 2024-07-2...",888641131488,210529546711334901379991061051263787639,8/31/2016,60.2,Wholesale/Distribution,1.160331e+07,Food WSD,Food and Drug,4,5,1
6624,888663529935,Mountain Hardwear Men's Basin Pull-On Pant-,"[Moosejaw, Mountain Hardwear, Zappos.com]","[2022-08-28, 2024-07-17, 2024-08-26]",888663529935,30230658026331845897998562572329290179,12/14/2017,0.0,Wholesale/Distribution,7.250710e+05,Fashion WSD,Fashion,2,3,1

In [167]:
#export the final file to excel
df = pd.DataFrame(data12_scraped_new)

file_name = 'cleaned12_missed.xlsx'

df.to_excel(file_name,index = False)

print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.